= form_with(local: true, url: 'https://sandbox.espago.com/secure_web_page', method: 'post', id: 'espago_secure_web_page') do |form|
  -# - if order.errors.any?
  -#   #error_explanation
  -#     %h2
  -#       = raw t('errors.template.header',  count: @order.errors.count, model: t('activerecord.models.order'))
  -#     %p
  -#       = t('errors.template.body')

  -#     %ul
  -#       - order.errors.full_messages.each do |message|
  -#         %li= raw  message

  .field
    = label :order, :name, t('.name')
    = text_field :order, :name, size: 40

  .field
    = label :order, :address, t('.address_html')
    = text_field :order, :address, rows: 3, cols: 40

  .field
    = label :order, :email, t('.email')
    = email_field :order, :email, size: 40

  = form.hidden_field :api_version, value: 3
  = form.hidden_field :app_id, value: @app_id
  = form.hidden_field :kind, value: @kind
  = form.hidden_field :session_id, value: @secure_string
  = form.hidden_field :amount, value: @cart_price
  = form.hidden_field :currency, value: @currency
  = form.hidden_field :title, value: @title
  = form.hidden_field :ts, value: @time_now
  = form.hidden_field :checksum, value: @checksum


  #pay-type-component

  .actions
    = form.submit t('.submit')